<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="home">
            <directory>WebinoImageThumb</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Yandex\Allure\Adapter\AllureAdapter"
                  file="/var/lib/webino/php/vendor/allure-framework/allure-phpunit/src/Yandex/Allure/Adapter/AllureAdapter.php">
            <arguments>
                <string>../../._log/allure</string>
                <boolean>false</boolean>
            </arguments>
        </listener>
    </listeners>
</phpunit>
